{% load i18n %}
<div class="float-end p-2">
    <div class="btn-group" role="group">
        {% if user.is_authenticated and 'vote_down' in user.profile.privilages %}
            {% if type == 'Question' %}
                <button id="btnVoteDown" onclick="btnVoteDownClick('{{type}}', '{{question.id}}')" type="button" class="btn btn-outline-danger">-</button>
            {% else %}
                <button id="btnVoteDown" onclick="btnVoteDownClick('{{type}}', '{{question.id}}', '{{answerid}}')" type="button" class="btn btn-outline-danger">-</button>
            {% endif %}
        {% else %}
            {% if user.is_authenticated %}
                <button id="btnVoteDown" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans "You need 150 reputation to upvote posts." %}">-</button>
            {% else %}
                <button id="btnVoteDown" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans "You need to have an account to vote" %}">-</button>
            {% endif %}
        {% endif %}

        {% if type == 'Question' %}
            <button id="btnVoteValueQ{{question.id}}" type="button" class="btn btn-outline-primary" value="{{question.vote}}">{{ question.vote }}</button>
        {% else %}
            <button id="btnVoteValueA{{answerid}}" type="button" class="btn btn-outline-primary" value="{{ans.vote}}">{{ ans.vote }}</button>
        {% endif %}
        
        {% if user.is_authenticated and 'vote_up' in user.profile.privilages %}
            {% if type == 'Question' %}
                <button id="btnVoteUp" onclick="btnVoteUp('{{type}}', '{{question.id}}')" type="button" class="btn btn-outline-success">+</button>
            {% else %}
                <button id="btnVoteUp" onclick="btnVoteUp('{{type}}', '{{question.id}}', '{{answerid}}')" type="button" class="btn btn-outline-success">+</button>
            {% endif %}
        {% else %}
            {% if user.is_authenticated %}
                <button id="btnVoteUp" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans "You need 15 reputation to upvote posts." %}">+</button>
            {% else %}
                <button id="btnVoteUp" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans "You need to have an account to vote" %}">+</button>
            {% endif %}
        {% endif %}
    </div>
</div>