{% load i18n %}
{% load static %}
<div class="card float-start mt-2" style="width: 18rem;">
    <div class="card-body">
    <div class="row">
        <div class="col-md-2">
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}" width="32">
            {% else %}
                <img src="{% static 'img/avatar.png' %}" alt="{{ user.username }}" width="32">
            {% endif %}
        </div>
        <div class="col-md-10 mt-1">
            <span class="user-profile-compact">
                <a href="{% url 'user_profile:profile' user.id user.username %}">
                    {{ user.username }} 
                </a>
                <span class="badge rounded-pill bg-light text-dark">{{ user.profile.reputation }}</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="user-profile-compact" title="{{ info_date }}">{{ info_date|timesince }} {% trans "before" %}</span>
        </div>
    </div>
  </div>
</div>