<div class="float-end p-2">
    <div class="btn-group" role="group">
        <button id="btnVoteDown" onclick="btnVoteDownClick('{{type}}', '{{pk}}')" data-type="{{type}}" data-id="{{pk}}" type="button" class="btn btn-outline-danger">-</button>
        <button type="button" class="btn btn-outline-primary">{{ question.vote }}</button>
        <button id="btnVoteUp" onclick="btnVoteUp('{{type}}', '{{pk}}')" data-type="{{type}}" data-id="{{pk}}" type="button" class="btn btn-outline-success">+</button>
    </div>
</div>