{% load i18n %}
<div class="card float-start" style="width: 18rem;">
    <div class="card-body">
    <div class="row">
        <div class="col-md-2">
            <img src="https://www.gravatar.com/avatar/31591f6978407f1129c26311cf8849a9?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32" class="bar-sm">
        </div>
        <div class="col-md-10 mt-1">
            <span class="user-profile-compact">{{ user.username }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="user-profile-compact">{{ info_date }}</span>
        </div>
    </div>
  </div>
</div>