{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}{{ user.username }}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{% trans "Profile" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile:edit' user.id user.username %}">{% trans "Edit" %}</a>
        </li>
    </ul>
  </div>
</div>
<div class="row mt-3">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.gravatar.com/avatar/31591f6978407f1129c26311cf8849a9?s=286&amp;d=identicon&amp;r=PG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{ user.profile.reputation }} {% trans "Reputation" %}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h2>{{ user.username }}</h2>
        <h3 class="user-profile-title"><em>{{ user.profile.title }}</em></h3>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.profile.about_me|safe }}</p>
    </div>
</div>
{% endblock content %}