{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ user.username }}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{% trans "Profile" %}</a>
        </li>
        {% if request.user == user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile:edit' user.id user.username %}">{% trans "Edit" %}</a>
        </li>
        {% endif %}
    </ul>
  </div>
</div>
<div class="row mt-3">
    <div class="col-md-3">
        <div class="card">
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" class="card-img-top" alt="{{ user.username }}">
        {% else %}
            <img src="{% static 'img/avatar.png' %}" class="card-img-top" alt="{{ user.username }}">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title text-center">{{ user.username }}</h5>
                <p class="text-center"><strong>{% trans "Reputation" %} {{ user.profile.reputation }}</strong></p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h3 class="user-profile-title"><em>{{ user.profile.title }}</em></h3>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.profile.about_me|safe }}</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        {% trans "Questions" %} ({{ user.questions.count }})
                    </th>
                </tr>
            </thead>
            {% for q in questions %}
                {% if q.accepted %}
                    <tr class="table-success">
                {% else %}
                    <tr>
                {% endif %}
                <td>
                    <a href="{{ q.get_absolute_url }}">{{ q.title }} 
                    </a>
                        <span class="badge bg-info text-dark" title='{{ q.vote }} {% trans "Votes" %}'>{{ q.vote }}</span>
                        <span class="float-start" title="{% trans "Number of views" %} : {{ q.views }}"> 
                            {{ q.views }}  <i class="bi bi-eye question-views"></i> 
                        </span>
                </td>
            </tr>
            {% endfor %}
            {% if user.questions.count > 10 %}
                <tfoot>
                    <tr>
                        <td>
                            <a href="{% url 'user_profile:user_questions_list' user.id user.username %}">
                                {% trans "See all" %}
                            </a>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        {% trans "Answers" %} ({{ user.answers.count }})
                    </th>
                </tr>
            </thead>
            {% for ans in answers %}
                {% if ans.accepted %}
                    <tr class="table-success">
                {% else %}
                    <tr>
                {% endif %}
                    <td>
                        <a href="{{ ans.question.get_absolute_url }}#answer-{{ans.id}}">
                            {{ ans.question.title }}
                            <span class="badge bg-info text-dark" title='{{ ans.vote }} {% trans "Votes" %}'>{{ ans.vote }}</span>    
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% if user.answers.count > 10 %}
                <tfoot>
                    <tr>
                        <td>
                            <a href="{% url 'user_profile:user_answers_list' user.id user.username %}">
                                {% trans "See all" %}
                            </a>
                        </td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
</div>
{% endblock content %}