{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Edit User Profile" %}: {{ user.username }}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'user_profile:profile' user.id user.username %}">{% trans "Profile" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'user_profile:edit' user.id user.username %}">{% trans "Edit" %}</a>
        </li>
    </ul>
  </div>
</div>
<div class="row mt-3">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="https://www.gravatar.com/avatar/31591f6978407f1129c26311cf8849a9?s=286&amp;d=identicon&amp;r=PG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">{{ user.profile.reputation }} {% trans "Reputation" %}</h5>
                <p class="text-center"><input type="submit" value="{% trans "Change Picture" %}" class="btn btn-primary"></p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <form action="" method="post">
            <h2>{{ user.username }}</h2>
            {% include "web/common/render_form.html" with form=user_form %}
            {% include "web/common/render_form.html" with form=profile_form %}
            <trix-editor input="aboutMeEditor"></trix-editor>
            <p><input type="submit" value="{% trans "Update" %}" class="btn btn-primary mt-3"></p>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock content %}
{% block css %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/trix.css' %}">
    {% endif %}
{% endblock css %}
{% block js %}
    {% if user.is_authenticated %}
    <script src="{% static 'js/trix.js' %}"></script>
    {% endif %}
    <script type="text/javascript">
        {% if user.is_authenticated %}
        (function () {
            var editorValue = document.getElementById("aboutMeEditor");
            if (editorValue){
                var divPreview = document.getElementById("preview");
                divPreview.innerHTML = editorValue.value;
                
                addEventListener("trix-change", function (e) {
                    divPreview.innerHTML = editorValue.value;
                });
            }
        
        })();
        {% endif %}
    </script>
{% endblock js %}