{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Logged-out" %}{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-body  p-0">
            <h5 class="card-title bg-primary text-light p-3">{% trans "Logged-out" %}</h5>
            <div class="p-3">
                <p class="card-text">
                    {% trans "You have been successfully logged out." %}
                    {% trans "You can " %}<a href="{% url 'login' %}">{% trans "Login again." %}</a>
                </p>
            </div>          
        </div>
    </div>
{% endblock content %}