{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Reset your password" %}{% endblock %}
{% block content %}
    <div class="card">
        <img src="{% static 'img/header.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{% trans "Forgotten your password?" %}</h5>
            <p class="card-text">{% trans "Enter your e-mail address to obtain a new password." %}</p>
            <form method="post">
                <div class="mb-3">
                    <label for="id_email" class="form-label">{% trans "Email:" %}</label> 
                    <input class="form-control" type="email" name="email" maxlength="254" required id="id_email">
                </div>
                <p><input class="btn btn-primary" type="submit" value="{% trans "Send e-mail" %}"></p>
                {% csrf_token %}
            </form>
        <p>{% trans "Already have account?" %} <a href="{% url 'login' %}">{% trans "login here" %}</a></p>
    </div>
</div>
{% endblock %}