{% extends "web/base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset your password" %}{% endblock %}
{% block content %}
    <div class="card">
        <img src="{% static 'img/header.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{% trans "Reset your password" %}</h5>
            <p class="card-text">
                {% trans "We've emailed you instructions for setting your password." %}
            </p>
            <p class="card-text">
                {% trans "If you don't receive an email, please make sure you've entered the address you registered with." %}
            </p>
        </div>
    </div>
{% endblock %}