{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body p-0">
        <h5 class="card-title bg-primary text-light p-3">{% trans "Password set" %}</h5>
        <div class="p-3">
            <p class="card-text">
                {% trans "Your password has been set. You can" %}
            </p>
            <p class="card-text"><a href="{% url "login" %}">log in now</a></p>
        </div>
    </div>
</div>
{% endblock %}