{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Change your password" %}{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-body p-0">
            <h5 class="card-title bg-primary text-light p-3">{% trans "Change your password" %}</h5>
            <div class="p-3">
                <p class="card-text">
                    {% trans "Use the form below to change your password" %}
                </p>
                <form method="post">
                    {% include "web/common/render_form.html" with form=form %}
                    <p><input class="btn btn-primary" type="submit" value="Change"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}