{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Reset your password" %}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body p-0">
            <h5 class="card-title bg-primary text-light p-3">{% trans "Reset your password" %}</h5>
            <div class="p-3">
                <p class="card-text">
                    {% trans "We've emailed you instructions for setting your password." %}
                </p>
                <p class="card-text">
                    {% trans "If you don't receive an email, please make sure you've entered the address you registered with." %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}