{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Password changed" %}{% endblock title %}
{% block content %}
    <div class="card">
        <img src="{% static 'img/header.png' %}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{% trans "Password changed" %}</h5>
            <p class="card-text">
                {% trans "Your password has been successfully changed." %}
            </p>          
        </div>
    </div>
{% endblock content %}