{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Welcome" %}{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-body p-0">
            <h5 class="card-title bg-primary text-light p-3">
                {% blocktrans %}
                    Welcome {{ new_user.username }}!
                {% endblocktrans %}
            </h5>
            <div class="m-3">
                <p class="card-text">
                    {% trans "Your account has been succesfully created." %}
                </p>          
                <p class="card-text">
                    {% trans "To verify your email we sent a link to your inbox." %}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}