{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}{% trans "Are you sure to delete answer: " %}{% endblock title %}
{% block content %}
    <p>{{ object.body_html|safe }}</p>
    <hr class="mt-0" />
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <p>{% trans "Are you sure you want to delete?" %}</p>
                <input class="btn btn-danger" type="submit" value="Confirm">
            </form>
        </div>
    </div>
{% endblock %}