{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Ask a Question" %}{% endblock title %}
{% block content %}
{% trans "Edit question" as header_title %}
{% include 'web/common/header_top.html' with heading=header_title %}
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="questionTitle" class="form-label">{% trans "Title" %}</label>
        <input type="text" required class="form-control" name="title" id="questionTitle" value="{{ question.title }}" aria-describedby="titleHelp">
        <div id="titleHelp" class="form-text">
            {% trans "Be specific and imagine you’re asking a question to another person" %}
        </div>
    </div>
    <div class="mb-3">
        <label for="bodyMd" class="form-label">{% trans "Body" %}</label>
        <div id="bodyHelp" class="form-text">
            {% trans "Include all the information someone would need to answer your question" %}
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <input id="x" type="hidden" name="body_html" value="{{ question.body_html }}" />
                    <trix-editor input="x"></trix-editor>
                </div>
            </div>
        </div>
        <h3 class="mt-3">{% trans "Preview:" %}</h3>
        <div class="row">
            <div class="col mt-3">
                <div id="preview"></div>  
            </div>
        </div>
    </div>
    <input class="btn btn-primary mb-3" type="submit" value="{% trans "Post your question" %}">
</form>
{% endblock content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/trix.css' %}">
{% endblock css %}
{% block js %}
    <script src="{% static 'js/trix.js' %}"></script>
    <script type="text/javascript">
        (function () {
            var editorValue = document.getElementById("x");
            var divPreview = document.getElementById("preview");
            divPreview.innerHTML = editorValue.value;
            
            addEventListener("trix-change", function (e) {
                divPreview.innerHTML = editorValue.value;
            });
        
        })();
    </script>
{% endblock %}