{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}{% trans "PorseshDev.ir - Where Developers Learn, Share, &amp; Build Careers" %}{% endblock title %}
{% block content %}
    {% include 'web/common/header_top.html' with heading="Top Questions" %}
    {% for q in questions %}
        {% if forloop.last %}
            <div class="row border-top border-bottom border-end border-start align-items-center mb-3">
            {% else %}
            <div class="row border-top border-end border-start align-items-center">
        {% endif %}
            <div class="col-3 col-sm-3 col-md-1">
                <div class="row border-start border-bottom">
                    <div class="col text-center p-1">
                        {% if q.accepted %}
                            <div class="question-stats text-success">{{ q.answer_set.count }}</div>
                            <div class="question-stats object-small-font text-success">Answers</div>                            
                        {% else %}
                            <div class="question-stats">{{ q.answer_set.count }}</div>
                            <div class="question-stats object-small-font">Answers</div>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="row border-start">
                    <div class="col text-center p-1">
                        <div class="question-stats">{{ q.vote }}</div>
                        <div class="question-stats object-small-font">Votes</div>
                    </div>
                </div>
            </div>
            <div class="col-9 col-sm-9 col-md-11 p-3">
                <div class="row">
                    <div class="col-9 col-sm-10">
                        <a href="{% url 'qa:show' q.id q.slug %}">{{ q.title }}</a>
                    </div>
                    <div class="col-3 col-sm-2">
                        <span class="text-secondary pt-1 float-start objects-small-font align-baseline">
                            <span class="">23</span> <i class="bi bi-eye question-views"></i>
                        </span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <span class="hashtag border border-info text-info">python</span>  
                    </div>
                    <div class="col-md-6">
                        <div class="float-start question-stats">
                            {{ q.created|timesince }} 
                            {% trans "Before" %}
                            <a href="{% url 'user_profile:profile' q.user.id q.user.username %}">
                                {{ q.user.username }} 
                            </a> 
                            <span class="badge rounded-pill bg-light text-dark">
                                {{ q.user.profile.reputation }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}      
    {% include 'qa/pagination.html' with page=page_obj %}                      
{% endblock content %}