{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}{% trans "GapBug - Where Developers Learn, Share, &amp; Build Careers" %}{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Top Questions" %}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {% for q in questions %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'qa:show' q.id %}">{{ q.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}