{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ question.title }}{% endblock title %}
{% block content %}
    {% include 'web/common/header_top.html' with heading=question.title %}
    <hr class="mt-0" />
    <div class="row">
        <div class="col">
            <div class="question-body">
                {{ question.body_html|safe }}
            </div>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-md-3">
            {% if user != question.user %}
                {% include 'web/common/render_vote.html' with type='Question' %}
            {% endif %}
        </div>
        <div class="col-md-1 mt-3">
            {% if question.user == request.user or 'edit_question_and_answer' in user.profile.privilages %}
                <a href="{% url 'qa:question_edit' question.id %}" class="brand-color-link btn btn-outline-warning">{% trans "Edit" %}</a>
            {% endif %}
            {% if question.user == request.user %}
                <a href="{% url 'qa:question_delete' question.id %}" class="brand-color-link btn btn-outline-danger mt-3">
                    {% trans "Delete" %}
                </a>
            {% endif %}
        </div>
        <div class="col-md-2 mt-3 question-edit-style">
            {% if question.created != question.modified %}
                {% trans "last edited:" %}
                    <span title="{{ question.content_modified_date }}">{{ question.content_modified_date|timesince }}</span>
                {% trans "before" %}
            {% endif %}
        </div>
        <div class="col-md-6">
            {% include 'web/common/render_user_compact.html' with user=question.user info_date=question.created %}
        </div>
    </div>

    <div class="row pt-3 pb-3 border border-primary text-white bg-primary">
        <div class="col">
            {% trans "Number of answer: " %} {{ question.answer_set.count }}
        </div>
    </div>
    
    <div>
        {% for ans in question.answer_set.all %}
            <div class="row mt-5">
                <div id="answer-{{ans.id}}" class="col-11">
                    {{ ans.body_html|safe }}
                </div>
                <div class="col-1 ps-1 pe-0">
                    {% if ans.accepted %}
                        <div class="btn btn-success">
                            <i class="bi bi-check"></i>                        
                        </div>
                    {% else %}
                        {% if request.user == question.user %}
                            <button id="btnAcceptAnswer-{{ ans.id }}" onclick="acceptAnswer('{{ans.id}}')" type="button" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans "Accept this answer" %}">
                                <i class="bi bi-check"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
                
            </div>

            <div class="row border-bottom pb-5">
                <div class="col-md-3">
                    {% if user != ans.user %}
                        {% include 'web/common/render_vote.html' with type='Answer' answerid=ans.id %}
                    {% endif %}
                </div>
                <div class="col-md-3 mt-3">
                    {% if ans.user == request.user or 'edit_question_and_answer' in user.profile.privilages %}
                        <a href="{% url 'qa:answer_edit' question.id ans.id %}" class="brand-color-link btn btn-outline-warning">{% trans "Edit" %}</a>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% include 'web/common/render_user_compact.html' with  user=ans.user info_date=ans.created %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated and show_answer_form %}
    <div class="row mt-3">
        <div class="col">
            <h3>{% trans "Your Answer" %}</h3>
            <form action="{% url 'qa:submit_answer' question.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <div>
                                <input id="x" type="hidden" name="body_html"/>
                                <trix-editor input="x"></trix-editor>
                            </div>
                        </div>
                    </div>
                    {% include "qa/render_preview.html" %}
                </div>
                <input class="btn btn-primary mb-3" type="submit" value="{% trans "Post your answer" %}">
            </form>
        </div>
    </div>
    {% endif %}
{% endblock content %}
{% block css %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/trix.css' %}">
    {% endif %}
{% endblock css %}
{% block js %}
    {% if user.is_authenticated %}
    <script src="{% static 'js/trix.js' %}"></script>
    {% endif %}
    <script type="text/javascript">
        {% if user.is_authenticated %}
        (function () {
            var editorValue = document.getElementById("x");
            if (editorValue){
                var divPreview = document.getElementById("preview");
                divPreview.innerHTML = editorValue.value;
                
                addEventListener("trix-change", function (e) {
                    divPreview.innerHTML = editorValue.value;
                });
            }
        
        })();
        {% endif %}
        // Example POST method implementation:
        async function postData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': Cookies.get('csrftoken')
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        async function deleteData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': Cookies.get('csrftoken')
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        function btnVoteUp(type, questionId, answerId){
            if (type === 'Question'){
                postData('{% url "qa:question_vote_up" question.id %}', {})
                    .then(data => {
                        if (data.status === 'ok') {
                            var btnVoteValue = document.getElementById(`btnVoteValueQ${questionId}`);
                            btnVoteValue.innerHTML = data.vote;
                        }
                    });
            }
            if (type === 'Answer'){
                var url = `/questions/${questionId}/${answerId}/up`;
                postData(url, {})
                    .then(data => {
                        if(data.status === 'ok') {
                            var btnVoteValue = document.getElementById(`btnVoteValueA${answerId}`);
                            btnVoteValue.innerHTML = data.vote;
                        }
                    });
            }
        }

        function btnVoteDownClick(type, questionId, answerId){
            if (type === 'Question'){
                postData('{% url "qa:question_vote_down" question.id %}', {})
                    .then(data => {
                        if (data.status === 'ok') {
                            var btnVoteValue = document.getElementById(`btnVoteValueQ${questionId}`);
                            btnVoteValue.innerHTML = data.vote;
                        }
                    });
            }
            if (type === 'Answer'){
                var url = `/questions/${questionId}/${answerId}/down`;
                postData(url, {})
                    .then(data => {
                        if(data.status === 'ok') {
                            var btnVoteValue = document.getElementById(`btnVoteValueA${answerId}`);
                            btnVoteValue.innerHTML = data.vote;
                        }
                    });
            }
        }

        function acceptAnswer(answerId){
            var questionId = {{ question.id }};
            var url = `/questions/${questionId}/${answerId}/accept`;
            postData(url, {})
                .then(data => {
                    if(data.status === 'ok') {
                        var btnAcceptAnswer = document.getElementById(`btnAcceptAnswer-${answerId}`);
                        btnAcceptAnswer.className = 'btn btn-success';
                    }
                });
        }
    </script>
{% endblock %}