{% extends 'web/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ question.title }}{% endblock title %}
{% block content %}
    {% include 'web/common/header_top.html' with heading=question.title %}
    <div class="row">
        <div class="col">
            <div class="question-body">
                {{ question.body_html|safe }}
            </div>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-md-6">
            {% include 'web/common/render_vote.html' with type='Question' pk=question.id %}
        </div>
        <div class="col-md-6">
            {% include 'web/common/render_user_compact.html' with user=question.user info_date=question.created %}
        </div>
    </div>

    <div class="row pt-3 pb-3 border border-primary text-white bg-primary">
        <div class="col">
            {% trans "Number of answer: " %} {{ question.answer_set.count }}
        </div>
    </div>
    
    <div>
        {% for ans in question.answer_set.all %}
            <div class="row mt-5">
                <div class="col">
                    {{ ans.body_html|safe }}
                </div>
            </div>

            <div class="row border-bottom pb-5">
                <div class="col-md-6">
                    {% include 'web/common/render_vote.html' with type='Answer' pk=ans.id %}
                </div>
                <div class="col-md-6">
                    {% include 'web/common/render_user_compact.html' with  user=ans.user info_date=ans.created %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="row mt-3">
        <div class="col">
            <h3>{% trans "Your Answer" %}</h3>
            <form action="{% url 'qa:submit_answer' question.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <div>
                                <div id="wmd-button-bar"></div>
                                <textarea class="wmd-input" required name="body_md" id="wmd-input" cols="30" rows="10" aria-describedby="bodyHelp"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="wmd-preview" class="wmd-preview"></div>  
                        </div>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="{% trans "Post your answer" %}">
            </form>
        </div>
    </div>
    {% endif %}
{% endblock content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
{% endblock css %}
{% block js %}
    <script src="{% static 'js/Markdown.Converter.js' %}"></script>
    <script src="{% static 'js/Markdown.Editor.js' %}"></script>
    <script src="{% static 'js/Markdown.Sanitizer.js' %}"></script>
    <script type="text/javascript">
        (function () {
            var converter1 = Markdown.getSanitizingConverter();
            
            converter1.hooks.chain("preBlockGamut", function (text, rbg) {
                return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                    return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                });
            });
            
            var editor1 = new Markdown.Editor(converter1);
            
            editor1.run();
        
        })();

        function btnVoteDownClick(type, id){
            console.log(type, ' ', id);
        }

        // Example POST method implementation:
        async function postData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': Cookies.get('csrftoken')
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return response.json(); // parses JSON response into native JavaScript objects
        }

        function btnVoteUp(type, id){
            if (type === 'Question'){
                postData('{% url "qa:question_vote_up" question.id %}', {})
                    .then(data => {
                        console.log(data); // JSON data parsed by `data.json()` call
                        if (data.status === 'ok') {
                            var btnVoteValue = document.getElementById('btnVoteValue');
                            btnVoteValue.innerHTML = data.vote;
                        }
                    });
            }
            if (type === 'Answer'){
                console.log('Not Implemented method')
            }
        }
    </script>
{% endblock %}