{% load i18n %}
<button type="button" class="btn btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#previewModal">
  {% trans "Preview" %}
</button>

<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewModalLabel">{% trans "Preview:" %}</h5>
      </div>
      <div class="modal-body">
        <div id="preview"></div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>