{% extends 'web/base.html' %}
{% load i18n %}
{% block title %}TAGS{% endblock title %}
{% block content %}
    <h1>{% trans "All Tags" %}</h1>
    <hr>
    <div class="row">
        <div class="col">    
            {% for t in tags %}
                <div class="card text-center" style="width: 18rem;float: right;margin:5px;">
                    <div class="card-body">
                        <h5 class="card-title badge bg-dark">{{ t.name }}</h5>
                        <p class="card-text">{% trans "Number of questions " %} {{ t.taggit_taggeditem_items.count }}</p>
                        <a href="{% url 'qa:by_tag' t.name %}" class="btn btn-outline-primary">{% trans "Questions" %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'qa/pagination.html' with page=page_obj %}
{% endblock content %}