{% extends 'web/base.html' %} 
{% load i18n %} 
{% block title %}{% trans "About" %}{% endblock title %} {% block content %}
<div class="row border">
  <div class="col-12 p-0">
    <h1 class="bg-primary text-light p-3" ><i class="bi bi-info-circle-fill"></i> {% trans "About page" %}</h1>
    <p class="p-3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae eveniet
      molestias iusto voluptatum, quibusdam eaque commodi, eos quae cum rem
      placeat eum itaque repudiandae, iste quas dolore sequi reiciendis tenetur!
    </p>
  </div>
</div>
{% endblock content %}
