{% load static %}
{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %} 
{% get_current_language as LANGUAGE_CODE %} 
<!DOCTYPE html>
{% if LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" dir="rtl">
{% else %}
<html lang="{{ LANGUAGE_CODE }}" dir="ltr">
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons-1.4.1/bootstrap-icons.css' %}">
    {% block css %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    {% include 'web/nav.html' %}
    <main class="flex-shrink-0">
        <div class="container">
            {% include 'web/messages.html' %}
            <div class="row">
                <div class="col">
                    {% block content %}{% endblock content %}
                </div>
            </div>
            
        </div>
    </main>
    {% include 'web/footer.html' %}

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
    {% block js %}{% endblock %}
</body>
</html>