{% load i18n %}
<footer class="footer mt-auto py-3 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam esse
          voluptatum, laborum saepe eius alias perferendis dolorum iste rerum
          molestiae, tempora minus ea reiciendis odit, itaque ut est.
          Repellendus, ea.
        </p>
      </div>
      <div class="col-4">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex
          accusantium omnis dignissimos ea aut repellat nostrum veritatis
          laudantium rem. Omnis laudantium non quasi ipsa, nostrum assumenda
          optio? Nemo, saepe veritatis!
        </p>
      </div>
      <div class="col-4">
        <a href="{% url 'web:about' %}" class="footer-color-link">{% trans "About" %}</a>
      </div>
    </div>
  </div>
</footer>
