{% extends 'web/base.html' %} 
{% load static %} 
{% load i18n %} 
{% block title %} 
{% trans "Home page of gapcode project" %} {% endblock title %} 
{% block content %}
<div class="row">
    <div class="col-sm pt-3 pb-3">
        <img src="{% static 'img/code.png' %}" alt="" class="img-fluid" />
    </div>
    <div class="col-sm">
        <div class="home-title">           
            <h1>{% trans "We people who code" %}</h1>
           {% trans "We build products that empower developers and connect them to solutions that enable productivity, growth, and discovery." %}
           <div class="row mt-3">
                <div class="col">
                    <a href="{% url 'qa:index' %}" class="btn btn-primary mb-3">
                        {% trans "See Questions" %}
                        <i class="bi bi-patch-question-fill"></i>
                    </a>
                    
                </div>
           </div>
        </div>
    </div>
</div>
{% endblock content %}
