{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light border-bottom fixed-top" style="background-color: #f2efe4;">
    <div class="container-fluid">
        <a href="{% url 'web:home' %}" class="navbar-brand">{% trans "PorseshDev" %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link brand-color-link" href="#">{% trans "Users" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link brand-color-link" href="{% url 'qa:all_tags' %}">{% trans "Tags" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link brand-color-link" href="{% url 'qa:index' %}">{% trans "Questions" %}</a>
                </li>
            </ul>
            <form id='searchForm' action="{% url 'qa:search' %}" method="GET" class="container-fluid">
                <div class="input-group">
                    <input id="txtSearch" class="form-control" type="search" name="q" required value="{{ q }}" 
                        placeholder="Search" aria-label="Search" autocomplete="off">
                </div>
            </form>
            {% if request.user.is_authenticated %}
                <a class="me-2 brand-color-link" href="{% url 'user_profile:profile' request.user.id request.user.username %}">{{ request.user.username }}</a>
                <a class="me-2 brand-color-link" href="{% url 'logout' %}">{% trans "logout" %}</a>
            {% else %}
                <a href="{% url 'signin' %}" class="btn btn-sm btn-outline-secondary ms-2 me-2">{% trans "LOGIN" %}</a>
                <a href="{% url 'register' %}" class="btn btn-sm btn-outline-secondary">{% trans "SIGNUP" %}</a>
            {% endif %}
        </div>
    </div>
</nav>