{% load i18n %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link brand-color-link" href="{% url 'web:home' %}">{% trans "Home Page" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link brand-color-link" href="#">{% trans "Questions" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link brand-color-link" href="#">{% trans "Tags" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link brand-color-link" href="#">{% trans "Users" %}</a>
    </li>
</ul>